<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <div>
    <h1><%= link_to 'Blog', user_posts_path %></h1>
    <span><%= current_user.email %></span><br>
    <span><%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %></span>
  </div>
  <div class="content"><%= yield %></div>
  <div class="category">
    <h2>Kategorie
      <%#= #link_to 'Kategorie', cattegories_path %>
    </h2>

    <% @cattegories.each do |cat| %>
        <%= link_to cat.name, user_cattegory_path(cat) %><br>
    <% end %>
    <br>
    <%= link_to "Dodaj kateogrie", new_user_cattegory_path %>
  </div>
<div>

</body>
</html>
